<section id="footer">
  <section id="logoTasky">
    <p id="tasky">TASKY</p>
    <p id="copyright">© 2023 Tasky</p>
  </section>


  <section class="info">
    <p class="titleInfo">RESOURCES</p>
    <button class="buttonLink">Help</button>
  </section>

  <section class="info">
    <p class="titleInfo">ABOUT</p>
    <button class="buttonLink">About Tasky</button>
    <button class="buttonLink">Team</button>
    <button class="buttonLink">Contact Us</button>
  </section>

  <section class="info">
    <p class="titleInfo">LEGAL</p>
    <button class="buttonLink">Terms & Conditions</button>
  </section>

  <section class="info">
    <p class="titleInfo">SOCIALS</p>
    <button class="buttonLink">Instagram</button>
    <button class="buttonLink">X</button>
  </section>

</section>
