<section id="footer">
  <section id="logoTasky">
    <p id="tasky">TASKY</p>
    <p id="copyright">© 2023 Tasky</p>
  </section>


  <section class="info">
    <p class="titleInfo">RESOURCES</p>
    <a href="https://vanilla-lychee-337.notion.site/TASKY-HELP-ec5ddf1dac2d489f9cd46ae5e8ed01f7?pvs=4"
      class="buttonLink" target="_blank">Help</a>
  </section>

  <section class="info">
    <p class="titleInfo">ABOUT</p>

    <a href="https://vanilla-lychee-337.notion.site/TASKY-ABOUT-841f67004c4d45eca4eb381eaa612edc?pvs=4"
      class="buttonLink" target="_blank">About Tasky</a>

    <a href="https://vanilla-lychee-337.notion.site/TASKY-TEAM-3eee7709c0974523bef303314bdf364c?pvs=4"
      class="buttonLink" target="_blank">Team</a>

    <a href="https://vanilla-lychee-337.notion.site/TASKY-CONTACT-US-e20123fcdfee4ef6a857b80b40598e6b?pvs=4"
      class="buttonLink" target="_blank">
      Contact Us</a>
  </section>

  <section class="info">
    <p class="titleInfo">LEGAL</p>
    <a href="https://vanilla-lychee-337.notion.site/TASKY-TERMINOS-Y-CONDICIONES-f08986ae03134dc588dae34762c86add?pvs=4"
    class="buttonLink" target="_blank">Terms & Conditions</a>
  </section>

  <section class="info">
    <p class="titleInfo">SOCIALS</p>
    <a href="https://www.instagram.com/" class="buttonLink" target="_blank">Instagram</a>
    <a href="https://twitter.com/?lang=es" class="buttonLink" target="_blank">X</a>
  </section>

</section>
