<section id="footer">
  <section id="logoTasky">
    <p id="tasky">TASKY</p>
    <p id="copyright">© 2023 Tasky</p>
  </section>


  <section class="info">
    <p class="titleInfo">RESOURCES</p>
    <a routerLink="/home/help"
      class="buttonLink">Help</a>
  </section>

  <section class="info">
    <p class="titleInfo">ABOUT</p>

    <a routerLink="/home/about"
      class="buttonLink">About Tasky</a>

    <a routerLink="/home/team"
      class="buttonLink">Team</a>

    <a routerLink="/home/contact"
      class="buttonLink">
      Contact Us</a>
  </section>

  <section class="info">
    <p class="titleInfo">LEGAL</p>
    <a routerLink="/home/legal"
    class="buttonLink">Terms & Conditions</a>
  </section>

</section>
