
*{
    padding: 0px;
    margin: 0px;
    font-family: "Poppins", sans-serif;
}

html{
    background: #4D4D4D;
}

.wrapper {
    display: grid;
    grid-template-areas: 
       "infoapp infoapp"
       "weather pet"
       "footer footer";

    grid-template-rows: 411px 425px 190px;
    grid-template-columns: 2fr 3fr;
}

body{
    height: 1024px;
    background: #F2F2F2;
    margin: auto;
}

header{
    height: 80px;
    width: 100%;
    position: fixed;
    background: #24365C;
}

#hora{
    margin-top: 80px;
    grid-area: infoapp;
    padding: 10px;
    background: #66384b;
}

#weather{
    display: flex;
    grid-area: weather;
    padding: 10px;
    background: #4c3866;
    /*
    width: 100px;
    height: 100px;*/
}

#pet{
    display: flex;
    grid-area: pet;
    padding: 10px;
    background: #553866;
    /*
    width: 100px;
    height: 100px;*/
}

footer{
    grid-area: footer;
    background: #ce5c27;
}