#info_app{
  padding: 15px;
  padding: 0;
  display: flex;
  flex-direction: column;
}

#info{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  background: #ACF1FF;
  width: 100%;
  height: 15em;
  border-radius: 20px;
}

#hello_user{
  padding: 3px;
  color: #4D4D4D;
}

#tasky_img{
  padding: 20px;
  width: 20em;
  height: 20em;
}

#horaFechaSection{
  margin: 2em;
  margin-top: 7em;
}

#hora{
  margin: 1px;
  text-align: right;
  font-family:"Poppins", sans-serif;
  font-weight: bold;
  color: #151E59;
  font-size: 60px;
}

#fecha, #helloName{
  margin: 1px;
  text-align: right;
  font-family:"Poppins", sans-serif;
  color: #151E59;
  font-size: 20px;
}

#helloName{
  margin-bottom: 8em;
}

#saludo{
  display: flex;
  flex-direction: row;
  align-items: center;
}

#weather{
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  background: #ACF1FF;
  width: 100%;
  height: 22em;
  border-radius: 20px;
}

#infoClima{
  display: flex;
  margin: 2em;
  height: 300px;
  flex-direction: column;
  align-content: space-between;
}

#iconoClima{
  margin: 4em;
}
