<p-card>
  <ng-template pTemplate="title">
    <span>Team</span>
  </ng-template>
  <ng-template pTemplate="content">
    <div style="display: grid; grid-template-columns: 1fr 1fr; gap: 20px;">
      <p-card>
        <ng-template pTemplate="title">
          <span>Sofia Brocardo</span>
        </ng-template>
        <ng-template pTemplate="content">
          <img class="imgPersonal" src="/assets/sofi.jpeg" alt="dibujo de sofi">
          <p>Sofia es una programadora de segundo año de la carrera de la Tecnicatura Universitaria en Programación en la UTN Mar del Plata.</p>
          <p>Actualmente trabaja como trainee en ASJServicios. En su tiempo libre se la puede encontrar dibujando, leyendo ficción o programando videojuegos.</p>
          <a href="https://www.linkedin.com/in/sofia-brocardo/" target="_blank">
            <img class="logo"  src="/assets/linkedin.png" alt="LinkedIn">
          </a>
          <a href="https://github.com/BrocardoSofia" target="_blank">
            <img class="logo"  src="/assets/github.png" alt="GitHub">
          </a>
        </ng-template>
      </p-card>

      <p-card>
        <ng-template pTemplate="title">
          <span>Vanina Pintos</span>
        </ng-template>
        <ng-template pTemplate="content">
          <img class="imgPersonal" src="/assets/vani.jpg" alt="dibujo de vani">
          <p>Vanina es una programadora de segundo año de la carrera de la Tecnicatura Universitaria en Programación en la UTN Mar del Plata.</p>
          <p>Actualmente se la puede encontrar trabajando en proyectos de programación.
            En su tiempo libre, disfruta de dibujar, cantar y realizar proyectos de programación.</p>
          <a href="https://www.linkedin.com/in/vaninapintos/" target="_blank">
            <img class="logo"  src="/assets/linkedin.png" alt="LinkedIn">
          </a>
          <a href="https://github.com/Vaninapintoss" target="_blank">
            <img class="logo"  src="/assets/github.png" alt="GitHub">
          </a>
        </ng-template>
      </p-card>
    </div>
  </ng-template>
</p-card>
