<header id="pageHeader">
  <section id="logo">
      <img id="imgLogo" src="./assets/logo.png" alt="logo">
      <h1 id="nameTasky">Tasky</h1>
  </section>

  <section id="botonesTemporizadores">
    <section id="pomodoro"></section>
    <section id="agua">
      <img id="logoAgua" src="./assets/agua.png" alt="aguaIcono">
      <p-toggleButton
        [(ngModel)]="checked"
        onLabel="On"
        offLabel="Off"
        styleClass="p-button-rounded p-button-sm">
      </p-toggleButton>
    </section>
  </section>
</header>
