<header id="pageHeader">
  <section id="logo">
      <img id="imgLogo" src="./assets/logo.png" alt="logo">
      <h1 id="nameTasky">Tasky</h1>
  </section>

  <section id="botonesTemporizadores">
    <button class="btn btn-primary btn-xs" pButton pRipple label="Pomodoro" icon="pi pi-hourglass"></button>
    <button class="btn btn-primary btn-xs" pButton pRipple label="Agua" icon="pi pi-hourglass"></button>
    <button class="btn btn-primary btn-xs" pButton pRipple label="Ejercicio" icon="pi pi-hourglass"></button>
  </section>
</header>
