<div class="contenedor-principal">
  <h1>Mis categorias</h1>

  <!-- INGRESO DE NUEVAS CATEGORIAS -->
  <form [formGroup]="nuevaCategoriaForm" class="form-nuevas-categorias">
    <div class="ingreso-nueva-categoria">
      <input autocomplete="off" type="text" class="form-control" placeholder="nueva categoria" formControlName="nombre"
        name="categoria" [(ngModel)]="newCat">
      <button [disabled]="nuevaCategoriaForm.invalid" class="btn btn-outline-secondary" type="button"
        (click)="agregarCategoria()" style="background-color: none;"><i class=" pi pi-plus"
          style="font-size: 1.6rem"></i></button>
    </div>
    <!-- VALIDACION REACTIVA -->
    <p style="color: red;" *ngIf="nombre && nombre.invalid">Maximo de caracteres alcanzados</p>
  </form>

  <!-- ALERTS -->
  <div *ngIf="advertir" class="contenedor-error">
    <p-messages [showTransitionOptions]="'500ms'" [hideTransitionOptions]="'500ms'" [(value)]="advertencia"
      [enableService]="false" [closable]="false"></p-messages>
  </div>


  <!-- LISTA DE CATEGORIAS -->
  <div class="lista-de-categorias">
    <div class="input-group" *ngFor="let cat of catArr">
      <li type="text" class="form-control">{{cat.nombre}}</li>
      <button type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"
        (click)="call(cat)"> <i class=" pi pi-pencil" style="font-size: 1.5rem"></i> </button>
      <button type="button" (click)="borrarCategoria(cat)"><i class=" pi pi-trash"
          style="font-size: 1.5rem"></i></button>
    </div>
  </div>

  <!-- EDITAR UNA CATEGORIA -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Editar categoria</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <input autocomplete="off" type="text" class="form-control" name="categoria" [(ngModel)]="editar">
          <button class="btn btn-outline-secondary" type="button" data-bs-dismiss="modal"
            (click)="editarCategoria()">modificar</button>
        </div>
      </div>
    </div>
  </div>
</div>
