<section *ngIf="suma > 0" style="display: flex;" >

  <section style="width: 50%; margin-right: 1rem;">
    <p-card class="tarjeta" header="Estadisticas de categorias">
      <section style="width: 80%; margin: auto;">
        <p-chart type="pie" [data]="categorias" [options]="options" autoWidth="false"></p-chart>
      </section>
    </p-card>
  </section>

  <section style="width: 50%;">
    <p-card class="tarjeta" header="Estadisticas de tareas por categoria">
      <p-dropdown (ngModelChange)="obtenerNombresTareas($event)" [options]="arrCategorias" [(ngModel)]="categoriaSeleccionada" optionLabel="nombre" [showClear]="true" (onClear)="limpiarSeleccion()" autoWidth="false" [style]="{'width': '100%'}"
        placeholder="Seleccione una categoria"></p-dropdown>
      <br><br>
      <section style="width: 50%; margin: auto;">
        <p-chart type="pie" [data]="tareas" [options]="options"></p-chart>
      </section>
    </p-card>
  </section>

</section>

<section *ngIf="suma < 1" style="color: #ABB2B9; font-family: 'Poppins', sans-serif; text-align: center; margin-top: 7rem;" >

  <section style="width: 100%; margin-right: 1rem;">
    <h4>Realice tareas para poder visualizar estadisticas de las categorias y tareas realizadas</h4>
  </section>
  <img src="./assets/sinEstadisticas.png" alt="imagen ilustrativa" style=" width: 30vw;">

</section>
