<p-card>
  <ng-template pTemplate="title">
    <span>Información de contacto</span>
  </ng-template>
  <ng-template pTemplate="content">
    <div style="display: grid; grid-template-columns: 2fr 3fr;">
      <div>
        <img src="/assets/contactUs.png" alt="tasky">
      </div>
      <div style="justify-self: center; align-self: center;">
        <ul style="list-style-type: none; padding-left: 0;">
          <li>
            <a href="https://www.linkedin.com/in/sofia-brocardo/" target="_blank">
              <img class="logo"  src="/assets/linkedin.png" alt="LinkedIn">
            </a>
            <span>LinkedIn de Sofia Brocardo</span>
          </li>
          <li>
            <a href="https://www.linkedin.com/in/vaninapintos/" target="_blank">
              <img class="logo"  src="/assets/linkedin.png" alt="LinkedIn">
            </a>
            <span>LinkedIn de Vanina Pintos</span>
          </li>
          <li>
            <a href="https://github.com/BrocardoSofia" target="_blank">
              <img class="logo"  src="/assets/github.png" alt="GitHub">
            </a>
            <span>GitHub de Sofia Brocardo</span>
          </li>
          <li>
            <a href="https://github.com/Vaninapintoss" target="_blank">
              <img class="logo"  src="/assets/github.png" alt="GitHub">
            </a>
            <span>GitHub de Vanina Pintos</span>
          </li>
        </ul>
      </div>
    </div>
  </ng-template>
</p-card>

