<div>

  <h1>Categoria 1</h1>

  <!-- INGRESO DE NUEVA TAREA -->
  <div>
    <input [(ngModel)]="nuevaTarea" type="text" placeholder="nueva tarea">
    <button type="button" (click)="agregarTarea()">agregar</button>
  </div>

  <!-- SELECCION DE TAREA A REALIZAR -->
  <div>
    <p-dropdown [options]="arrTareas" optionLabel="nombre" placeholder="Seleccionar una tarea" [filter]="true"></p-dropdown>
  </div>

  <!-- <p-table [columns]="cols" [value]="products" [tableStyle]="{ 'min-width': '50rem' }">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns">
            {{ col.header }}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr>
          <td *ngFor="let col of columns">
            {{ rowData[col.field] }}
          </td>
        </tr>
      </ng-template>
    </p-table> -->
</div>
