<section id="fondo" class="flex justify-content-space-around align-items-center h-full">
  <img id="taskyImg" src="./assets/tasky.png" alt="">
  <form [formGroup]="loginForm">
    <p-card id="cardLogin" header="Login" [style]="{ width: '360px'}">
      <section class="field">
        <label for="email">Email</label>
        <input
          type="email"
          pInputText
          formControlName="email"
          class="w-full"
          name="email"
          placeholder="ejemplo@email.com"
        />
        <small *ngIf="email.invalid && (email.dirty || email.touched)" class="block p-error">
          <section *ngIf="email.errors?.['required']">Debe ingresar un email</section>
          <section *ngIf="email.errors?.['email']">Email invalido</section>
        </small>
      </section>
      <section class="field">
        <label for="password">Password</label>
        <input
          type="password"
          pInputText
          formControlName="password"
          class="w-full"
          name="password"
          placeholder="*********"
        />
        <small *ngIf="password.invalid && (password.dirty || password.touched)"
        class="block p-error">
          <section *ngIf="password.errors?.['required']">Debe ingresar una contraseña</section>
        </small>
      </section>


      <p-button label="Iniciar sesión" styleClass="w-full"></p-button>

      <section class="mt-2">
        ¿No tienes una cuenta? <a routerLink="/register">Registrarme</a>
      </section>

    </p-card>
  </form>
</section>
