<p-card header="Configurar localización">
  <form form [formGroup]="registerForm" (ngSubmit)="submitLocalizacion()">
    <input type="text" pInputText formControlName="text"/>
  </form>
</p-card>


<br>

<p-card header="Configurar temporizador">
  <p class="m-0">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
      quas!
  </p>
</p-card>

<br>

<p-card header="Configurar usuario">
  <p class="m-0">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore sed consequuntur error repudiandae numquam deserunt quisquam repellat libero asperiores earum nam nobis, culpa ratione quam perferendis esse, cupiditate neque
      quas!
  </p>
</p-card>
