<p-card header="Configurar localización">
  <form id="locForm" form [formGroup]="registerForm" (ngSubmit)="submitLocalizacion()">
    <section class="field" [style]="{ width: '100%'}">
    <input
      type="text"
      pInputText formControlName="ciudad"
      [style]="{ width: '100%'}"
      placeholder="Ciudad"
    />
    <small *ngIf="ciudad.invalid && (ciudad.dirty || ciudad.touched)" class="block p-error">
      <section *ngIf="ciudad.errors?.['required']">Debe ingresar una ciudad</section>
      <section *ngIf="ciudad.errors?.['pattern']">Nombre de ciudad invalido</section>
    </small>
    </section>
    <br>

    <section class="field" [style]="{ width: '100%'}">
    <input
      type="text"
      pInputText formControlName="provincia"
      [style]="{ width: '100%'}"
      placeholder="Provincia"
    />
    <small *ngIf="provincia.invalid && (provincia.dirty || provincia.touched)" class="block p-error">
      <section *ngIf="provincia.errors?.['required']">Debe ingresar una provincia</section>
      <section *ngIf="provincia.errors?.['pattern']">Nombre de provincia invalido</section>
    </small>
    </section>

    <br>

    <section class="field" [style]="{ width: '100%'}">
    <input
      type="text"
      pInputText formControlName="pais"
      [style]="{ width: '100%'}"
      placeholder="Pais"
    />
    <small *ngIf="pais.invalid && (pais.dirty || pais.touched)" class="block p-error">
      <section *ngIf="pais.errors?.['required']">Debe ingresar un pais</section>
      <section *ngIf="pais.errors?.['pattern']">Nombre de pais invalido</section>
    </small>
    </section>

    <br>

    <p-button
        label="Guardar"
        [disabled]="registerForm.invalid"
        type="submit"
        [style]="{ borderRadius: '10px'}"
        >
      </p-button>
  </form>
</p-card>


<br>

<p-card header="Configurar temporizador">
  <form id="locForm" form [formGroup]="tempForm" (ngSubmit)="submitTemporizador()">
    <section class="field" [style]="{ width: '100%'}">
        <input
          type="text"
          pInputText formControlName="tiempoTarea"
          [style]="{ width: '100%'}"
          placeholder="Minutos de tarea"
        />
      </section>
      <br>
      <section class="field" [style]="{ width: '100%'}">
        <input
          type="text"
          pInputText formControlName="tiempoDescanzo"
          [style]="{ width: '100%'}"
          placeholder="Minutos de descanzo"
        />
      </section>

      <br>

      <section class="field" [style]="{ width: '100%'}">
        <input
          type="text"
          pInputText formControlName="tiempoAgua"
          [style]="{ width: '100%'}"
          placeholder="Minutos recordatorio para tomar agua"
        />
      </section>

      <p-button
        label="Guardar"
        [disabled]="tempForm.invalid"
        type="submit"
        [style]="{ borderRadius: '10px'}"
        >
      </p-button>
  </form>
</p-card>

<br>

<p-card header="Configurar usuario">
  <form id="locForm" form [formGroup]="nombreForm" (ngSubmit)="submitNombre()">
    <section class="field" [style]="{ width: '100%'}">
      <label for="nombre">Modificar nombre</label>
      <input
        type="text"
        pInputText formControlName="nombre"
        [style]="{ width: '100%'}"
        placeholder="Nuevo nombre"
      />
    </section>

    <section class="field" [style]="{ width: '100%'}">
      <label for="password">Contraseña</label>
      <input
        type="password"
        pInputText formControlName="password"
        [style]="{ width: '100%'}"
        name="password"
        placeholder="*********"
      />

    </section>

    <p-button
        label="Guardar"
        [disabled]="nombreForm.invalid"
        type="submit"
        [style]="{ borderRadius: '10px'}"
        >
      </p-button>
  </form>

  <br>
  <br>

  <form id="locForm" form [formGroup]="passwordForm" (ngSubmit)="submitPassword()">
    <section class="field" [style]="{ width: '100%'}">
      <label for="password">Modificar contraseña</label>
      <input
        type="text"
        pInputText formControlName="nuevoPassword"
        [style]="{ width: '100%'}"
        placeholder="Nueva contraseña"
      />
    </section>

    <section class="field" [style]="{ width: '100%'}">
      <label for="password">Contraseña</label>
      <input
        type="password"
        pInputText formControlName="passwordF"
        [style]="{ width: '100%'}"
        name="password"
        placeholder="*********"
      />

    </section>

    <p-button
        label="Guardar"
        [disabled]="passwordForm.invalid"
        type="submit"
        [style]="{ borderRadius: '10px'}"
        >
      </p-button>
  </form>
</p-card>
